$baseb:#293982;
$baseg:#282828;
$accentb:#B7D4CF;
$accento:#df7004;
h1,
h2 {
    font-family: 'Oleo Script', cursive;
    color: $baseg;
}
h2 {
    font-size: 2.5em;
}
html {
    font-family: 'Segoe UI';
    font-size: 1.1rem;
    color: $baseb;
    background-image:url("../img/geometry2.png");
    h5 {
        font-size: 1.5em;
        //font-style: italic;
        font-weight: 600;
    }
    h6 {
        font-weight: 500;
    }
}
.parallax-container {
    height: 600px;
}

nav{
    background-color:$baseb;
}