$darkBlue:#51536b;
h1,
h2 {
    font-family: 'Oleo Script', cursive;
    color: $darkBlue;
}
h2 {
    font-size: 2.5em;
}
html {
    font-family: 'Segoe UI';
    font-size: 1.1rem;
    color: $darkBlue;
    h5 {
        font-size: 1.5em;
        font-style: italic;
        font-weight: 600;
    }
    h6 {
        font-weight: 500;
    }
}
.parallax-container {
    height: 600px;
}
