$darkBlue:#51536b;
h1 {
    font-family: 'Oleo Script', cursive;
    color: $darkBlue;
}
html {
    font-family: 'Segoe UI';
    font-size: 1.2em;
    color: $darkBlue;
}
.parallax-container {
    height: 600px;
}
