$baseb:#293982;
$baseg:#282828;
$accentb:#B7D4CF;
$accento:#df7004;
html {
    font-family: 'Rasa';
    font-size: 1.1rem;
    color: $baseb;
    background-image: url("../img/geometry2.png");
    line-height: 1;
    text-rendering: optimizeLegibility;
    h5 {
        font-size: 1.5em;
        //font-style: italic;
        line-height: 0.8em;
        font-weight: 600;
    }
    h6 {
        font-weight: 500;
        font-size: 1.2em;
    }
    h1,
    h2 {
        font-family: 'Oleo Script', cursive;
        color: $baseg;
        margin: 0;
    }
}

.parallax-container {
    height: 600px;
}

nav {
    background-color: $baseb;
}

.material-tooltip,
.backdrop {
    background-color: $accentb;
    font-size: 0.8rem;
    color: $baseg;
}
