//******MOSTLY REUSABLE STYLES*******
#closer-row {
    margin-bottom: -10px;
}
//******VARIABLES FOR REUSE*******
$pageMargin: 10%;
//******General Index.html styles **********
nav {
    background-color: transparent;
    z-index: 999;
}
.middle {
    //display: flex;
    background-image: url(../img/landing.jpg);
    justify-content: center;
    /*align-content: center;
    margin-bottom: 10%;
    z-index: 999;
    li {
        margin: auto;
        text-align: center;
        width: 100%;
    }*/
}
.call-container {
    text-align: center;
    //margin-top: 15%;
    display: block;
    padding: 0 2%;
    .centered-title {
        z-index: -1;
    }
}
#scroll-icon {
    width: 50px;
    display: block;
    margin: auto auto 10% auto;
}
#blue-container {
    background-color: #b3c3d1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#white-container {
    padding: 5% 2%;
}
#androm-container {
    background-image: url(../img/M31_hallas8001.jpg);
    background-size: cover;
    padding: 0;
}
.button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    display: block;
    height: 60px;
    width: 27%;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}
.button:hover {
    border: 2px solid grey;
}
#resume-btn {
    border: 2px solid #fff;
    text-transform: none;
    margin-top: 0px;
}

/*----------Timeline Styles------*/

@import url(https://fonts.googleapis.com/css?family=Lato);
//$title-background: #3d9e67;
$background-color: #df7004;
$content-background-color: #B7D4CF;
$content-background-gradient: #B7D4CF;
$time-color: #df7004;
$text-color: #293982;
$content-width: 450px;
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.timeline {
    color: $text-color;
    /*h1,
  ul li .content h2{
    text-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5);
  }
  
  h1{
    //background: $title-background;
    padding: 70px 0;
    font-size: 2.5em;
    text-align: center;
  }*/
    ul {
        //background: $background-color;
        padding: 50px 0;
        li {
            background: rgba(183, 212, 207, 0.5); //$content-background-color;
            position: relative;
            margin: 0 auto;
            width: 5px;
            padding-bottom: 40px;
            list-style-type: none;
            &:last-child {
                padding-bottom: 7px;
            }
            &:before {
                content: '';
                background: $background-color; //makes the inside of the cirlces the right color
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                width: 20px;
                height: 20px;
                border: 3px solid $content-background-color;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }
            .hidden {
                opacity: 0;
            }
            .content {
                background: $content-background-color;
                position: relative;
                top: 7px;
                width: $content-width;
                padding: 20px;
                h5 {
                    color: $time-color;
                    padding-bottom: 5px;
                    text-align: left;
                    margin: 0;
                }
                p {
                    text-align: left;
                }
                &:before {
                    content: '';
                    background: $content-background-color;
                    position: absolute;
                    top: 0px;
                    width: 38px;
                    height: 5px;
                }
            }
            &:nth-child(odd) .content {
                left: 50px;
                background: #fff; //$content-background-color;
                background: #fff; //-webkit-linear-gradient(-45deg, $content-background-gradient , $content-background-color);
                background: #fff; //linear-gradient(-45deg,  $content-background-gradient , $content-background-color);
                box-shadow: inset 0px 0px 0px 5px $content-background-color;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            &:nth-child(odd) .content:before {
                left: -38px;
            }
            &:nth-child(even) .content {
                left: calc(-#{$content-width} - 45px);
                background: #fff; //$content-background-color;
                background: #fff; //-webkit-linear-gradient(-45deg, $content-background-gradient , $content-background-color);
                background: #fff; //linear-gradient(-45deg,  $content-background-gradient , $content-background-color);
                box-shadow: inset 0px 0px 0px 5px $content-background-color;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
            }
            &:nth-child(even) .content:before {
                right: -38px;
            }
        }
    }
}

/* -------------------------
   ----- Media Queries ----- 
   ------------------------- */

@media screen and (max-width: 1020px) {
    .timeline ul li .content {
        width: 41vw;
    }
    .timeline ul li:nth-child(even) .content {
        left: calc(-41vw - 45px);
    }
}
@media screen and (max-width: 700px) {
    .timeline ul li {
        margin-left: 0px; //20px;
        .content {
            width: calc(100vw - 100px);
            h2 {
                text-align: initial;
            }
        }
        &:nth-child(even) .content {
            left: 45px;
            background: $content-background-color;
            background: -webkit-linear-gradient(-45deg, $content-background-gradient, $content-background-color);
            background: linear-gradient(-45deg, $content-background-gradient, $content-background-color);
            background: #fff; //$content-background-color;
            background: #fff; //-webkit-linear-gradient(-45deg, $content-background-gradient , $content-background-color);
            background: #fff; //linear-gradient(-45deg,  $content-background-gradient , $content-background-color);
            box-shadow: inset 0px 0px 0px 5px $content-background-color;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }
        &:nth-child(even) .content:before {
            left: -33px;
        }
    }
}
#experience-list {
    //all: initial;
    //font-family: inherit;
    color: inherit;
    font-size: inherit;
    padding:0;
    li {
        background: none; //$content-background-color;
        margin: 0px 20px 0px 20px;
        padding:0px 10px;
        list-style-type: circle;
        text-align: left;
        width:100%;
        &:before {
            display: none;
        }
    }
}

/*----------Blog Styles----------*/

.post {
    padding: 2%;
    border-radius: 3px;
    margin-bottom: 5%;
    background-color: #b3c3d1;
}
.about-container {
    margin-top: 5%;
    //background-color: #b3c3d1;
    width: 100%;
    /*-webkit-box-shadow: -2px 2px 14px 1px rgba(145, 145, 145, 1);
    -moz-box-shadow: -2px 2px 14px 1px rgba(145, 145, 145, 1);
    box-shadow: -2px 2px 14px 1px rgba(145, 145, 145, 1);*/
    padding: 0 2% 2% 2%;
}
.page-container {
    padding: 6% $pageMargin;
    //background-image: url("../img/M31_hallas800.png");
    //background-size: cover;
}
