//******MOSTLY REUSABLE STYLES*******
#closer-row {
    margin-bottom: -10px;
}
//******VARIABLES FOR REUSE*******
$pageMargin: 10%;
//******General Index.html styles **********
nav {
    background-color: transparent;
    z-index: 999;
}
.middle {
    //display: flex;
    background-image: url(../img/landing.jpg);
    justify-content: center;
    /*align-content: center;
    margin-bottom: 10%;
    z-index: 999;
    li {
        margin: auto;
        text-align: center;
        width: 100%;
    }*/
}
.call-container {
    text-align: center;
    //margin-top: 15%;
    display: block;
    padding: 0 2%;
    .centered-title {
        z-index: -1;
    }
}
#scroll-icon {
    width: 50px;
    display: block;
    margin: auto auto 10% auto;
}
#blue-container {
    background-color: #b3c3d1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#white-container {
    padding: 5% 2%;
}
#androm-container {
    background-image: url(../img/M31_hallas8001.jpg);
    background-size: cover;
    padding: 0;
}
.button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    display: block;
    height: 60px;
    width: 27%;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}
.button:hover {
    border: 2px solid grey;
}
#resume-btn {
    border: 2px solid #fff;
    text-transform: none;
    margin-top: 0px;
}

/*----------Blog Styles----------*/

.post {
    padding: 2%;
    border-radius: 3px;
    margin-bottom: 5%;
    background-color: #b3c3d1;
}
.about-container {
    margin-top: 5%;
    //background-color: #b3c3d1;
    width: 100%;
    /*-webkit-box-shadow: -2px 2px 14px 1px rgba(145, 145, 145, 1);
    -moz-box-shadow: -2px 2px 14px 1px rgba(145, 145, 145, 1);
    box-shadow: -2px 2px 14px 1px rgba(145, 145, 145, 1);*/
    padding: 0 2% 2% 2%;
}
.page2-container {
    padding: 10px $pageMargin;
    background-image: url("../img/M31_hallas800.png");
    background-size: cover;
}
