<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="/css/materialize.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="navbar">
        <!--NAVBAR-->
        <nav>
            <div class="nav-wrapper middle">
                <div><a href="#" data-activates="nav-mobile" class="button-collapse waves-effect waves-light"><i class="medium mdi-navigation-menu" id="icon"></i></a></div>
                <a href="#" class="brand-logo left"><img class="responsive-img" src="img/Home-50.png" style="margin-top:5px;margin-left:5px;"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#">Resume</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
                <ul class="side-nav" id="nav-mobile">
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#">Resume</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        {{ content }}
    </div>
</body>

<script src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript " src="/js/materialize.min.js "></script>
<script type="text/javascript " src="/js/jquery.scrollTo.min.js "></script>
<script type="text/javascript " src="/js/baseAnimation.js "></script>
